<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="/design/welcome.css">
</head>
<body>
    <form action="/order" method="get">
        <button type="submit">Back</button>
    </form><br>
    <div class="button_div">
        <% if(order == null) {%>
            <form action="/showEditableOrder" method="post">
                <label>Search for an order by Id to edit its data</label><br>
                <input type="number" name="orderId"><br><br>
                <button type="submit">Search</button><br><br>
            </form>
        <%}%>

        <% if(order != null) {%>
            <form action="/showEditableOrder" method="post">
                <label>Search for an order by Id to edit its data</label><br>
                <input type="number" name="orderId" value="<%= order.customId%>"><br><br>
                <button type="submit">Search</button><br><br>
            </form>
        <%}%>
        
        <% if(order != null) {%>
            
        <form action="/editOrder" method="post">

            <input hidden type="number" name="orderHeaderId" value="<%= order.customId %>">
    
            <label for="customerId">CustomerId</label><br>
            <input type="number" name="customerId" value="<%= order.customerId %>"><br>
    
            <label for="order_date">Order Date</label><br>
            <input type="date" name="order_date" value="<%= order.order_date %>"><br><br>
            
            <% for(var i = 0; i < orderItems.length; i++) { %>

                <input hidden type="number" name="orderItemId" value="<%= orderItems[i].customId %>">
    
                <label for="productId">ProductId</label><br>
                <input type="number" name="productId" value="<%= orderItems[i].productId %>"><br>
    
                <label for="product_amount">Product Amount</label><br>
                <input type="number" name="product_amount" value="<%= orderItems[i].product_amount %>"><br><br>

            <% } %>
            <button type="submit">Edit</button>
        </form>
        <% } %>
    </div>    
</body>
</html>